# Imports

In [1]:
import datetime
import time
import bitfinex
import pandas as pd

# Fetch and Save Data

In [2]:
#https://medium.com/coinmonks/how-to-get-historical-crypto-currency-data-954062d40d2d
#https://min-api.cryptocompare.com/
#https://towardsdatascience.com/cryptocurrency-price-prediction-using-deep-learning-70cfca50dd3a

# Create api instance of the v2 API
api_v2 = bitfinex.bitfinex_v2.api_v2()

No keys, only access to public API functions

In [4]:
api_v1 = bitfinex.bitfinex_v1.api_v1()
pairs = api_v1.symbols()

No keys, only access to public API functions

In [5]:
def fetch_data(start, stop, symbol, interval, tick_limit, step):
    # Create api instance
    api_v2 = bitfinex.bitfinex_v2.api_v2()
    data = []
    start = start - step
    while start < stop:
        start = start + step
        end = start + step
        res = api_v2.candles(symbol=symbol, interval=interval,
                             limit=tick_limit, start=start,
                            end=end)
        data.extend(res)
        time.sleep(2)
    return data

In [6]:
# Set step size
time_step = 60000000
bin_size = '1m' # This will return minute data
limit = 1000    # We want the maximum of 1000 data points 
# Define the start date 
t_start = datetime.datetime(2019, 1, 1, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000
# Define the end date
t_stop = datetime.datetime(2019, 12, 29, 0, 0)
t_stop = time.mktime(t_stop.timetuple()) * 1000
pair_data = fetch_data(start=t_start, stop=t_stop, symbol='ethusd',
                       interval=bin_size, tick_limit=limit, 
                       step=time_step)

No keys, only access to public API functions

In [22]:
# Create pandas data frame and clean/format data
names = ['DateTime', 'Open', 'Close', 'High', 'Low', 'Volume']
df = pd.DataFrame(pair_data, columns=names)
df['DateTime'] = pd.to_datetime(df['DateTime'], unit='ms').dt.date
df.set_index('DateTime', inplace=True)
df.sort_index(inplace=True)

In [23]:
df

                  Open       Close        High         Low      Volume
DateTime
2018-12-31  135.506799  135.506799  135.506799  135.506799    3.902200
2018-12-31  135.120000  135.120000  135.120000  135.120000   14.195000
2018-12-31  135.120000  135.120000  135.129706  135.120000   42.883843
2018-12-31  135.060000  135.120000  135.170000  135.060000  588.071887
2018-12-31  135.060000  135.070000  135.070000  135.060000  148.302210
...                ...         ...         ...         ...         ...
2019-12-29  135.541512  135.530000  135.541512  135.530000   62.763740
2019-12-29  135.541512  135.541512  135.541512  135.540000    0.928272
2019-12-29  135.600000  135.541512  135.700000  135.540000  132.594108
2019-12-29  135.608562  135.498862  135.608562  135.498862    1.170400
2019-12-29  129.070000  129.140000  129.140000  129.067728    1.115931

[454665 rows x 5 columns]

In [24]:
df.to_csv('data.csv')